{% extends 'base.html' %}

{% block body %}

<form method="POST" action="/">
    <div class="form-group">
        <div class="form-group input-group mb-3 input-group-lg container">
            <input type="url" id="inlineFormInputGroupUsername" class="form-control"
                   placeholder="Enter URL"
                   aria-label="Recipient's username" aria-describedby="basic-addon2" name="url">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary form-control"
                        name="msg_button" value="Shorten"> Shorten
                </button>
            </div>
        </div>
    </div>
</form>

{% with messages = get_flashed_messages(category_filter=["error"]) %}
{% if messages %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {% for message in messages %}
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter=["success"]) %}
{% if messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {% for message in messages %}
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

{% endblock %}