{% extends 'base.html' %}

{% block body %}

<form method="POST" action="/" onsubmit="return validateForm()" name="result_form">
    <div class="form-group">
        <div class="form-group input-group mb-3 input-group-lg container">

            <input name="url" type="url" id="url" class="form-control" placeholder="Enter URL"
                   aria-label="Recipient's username" aria-describedby="basic-addon2"
                   href="{{ url }}"
                   value="{{ url }}" required>
            <div class="input-group-append">
                <button id="copy-button" type="button" class="btn btn-success"
                        name="copy_button" value="COPY" onclick="copyText()">
                    COPY
                </button>
            </div>
            <div class="input-group-append">
                <button id="rename-button" type="submit" class="btn btn-danger"
                        name="msg_button" value="Rename">
                    Rename
                </button>
            </div>

        </div>
    </div>
</form>

{% with messages = get_flashed_messages(category_filter=["error"]) %}
{% if messages %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {% for message in messages %}
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter=["success"]) %}
{% if messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {% for message in messages %}
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<script type="text/javascript">
    function copyText() {
        var copyText = document.getElementById("url");
        copyText.select();
        document.execCommand("copy");
        alert("Copied the text: " + copyText.value);
    }
</script>

<script type="text/javascript">
    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    function validateForm() {
        var submitted_url = $("#url").val();
        var parsed_url = decodeURIComponent(getUrlVars('url')["url"]);

        console.log("submitted URL "+submitted_url)
        console.log("parsed URL "+parsed_url)

        if (submitted_url === parsed_url) {
            alert("Did you mean COPY !?");
            return false;
        }
    }
</script>

<script type="text/javascript">
    $('#url').on('focusin', function () {
        console.log("Saving value " + $(this).val());
        $(this).data('val', $(this).val());
    });

    $('#url').on('change', function () {
        var prev = $(this).data('val');
        var current = $(this).val();
        console.log("Prev value " + prev);
        console.log("New value " + current);
        $('<input>').attr({
            type: 'hidden',
            id: 'previous_url',
            name: 'previous_url',
            value: prev
        }).appendTo('form');
    });


</script>
{% endblock %}